.repo-filter {
  margin: 20px auto;
  max-width: 1080px;
}

#repo-list {
  max-height: 60vh;
  overflow-x: auto;
}

#repo-list a + a {
  margin-top: 16px;
}

#repo-list a:hover {
  transform: translateX(10px);
}

#repo-list a {
  background: #FFF;
  border-radius: 5px;
  width: 100%;
  padding: 24px;
  display: block;
  text-decoration: none;

  display: flex;
  align-items: center;
  transition: transform 0.2s;
  font: 1.6rem Roboto;
  max-width: 1080px;
  margin: 0 auto;
}

strong {
  color: #000000;
}

img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

p {
  font-size: 18px;
  color: #a8a8b3;
  margin-top: 4px;
}

.repo-info {
  flex: 1;
  margin: 0 16px; 
}

svg {
  margin-left: auto;
  color: #CBCBD6;
}